<html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link rel="stylesheet" href="style.css" />

  <title> Ivan's Portfolio </title>
</head>


<div class="container">
    <div class="main-section">
        <nav class="topNavbar navbar-dark bg-dark">
            <ul>
            <li><a href="/">Home<a></li>
            <li><a href="/about" class="active" aria-current="page" target="_blank">About</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/resume" target="_blank"><a>Resume</li>
            <li><a href="/contact">Contact<a></li>
          </ul>
          </nav>
          <header>
      <div class="description">
        <h2 class="page-title">Ivan Front End Developer.</h2>
        <p class="main-paragraph">Core strength in React and Javascript.</p>
        <p class="contact-info">(760)855-9786 <br> ireynoso760@gmail.com</p>
        <a href="/contact">Contact Me</a>
      </div>
    </header>
   
    
    
    
    
    <div>
          I am
          <%= person.firstName %>
          <%= person.lastName %>
        </div>
      </div>
      
      
      <!-- Bootstrap CDN-->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
      </body>
    
</html>