<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="style.css" />

    <title>Projects</title>
</head>
<div class="container">
    <div class="projects-section"></div>
    <nav class="topNavbar navbar-dark bg-dark">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about" class="active" aria-current="page" target="_blank">About</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/resume" target="_blank"></a>Resume</li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>

    <div class="media">
    <div class="carousel"><img class="align-self-center mr-3" src="Screen Shot 2018-10-16 at 12.46.08 PM.png" height="300" width="400"/></div>
        <div class="media-body" id="index1">
            <h5 class="mt-0">Center-aligned media</h5>
            <p>Very Simple To Do App, In this project I built a Todo app using React that allows users to enter their todo items and prioritize them based on their importance.</p>
            <p class="mb-0">You will also be able to edit items using the edit link, which should display another form, Lastly, you can mark an item as completed by checking its box.
                    .</p>
                <a class="btn btn-sm btn-primary" href="https://ir-vstda.herokuapp.com/" target="_blank">Very Simple To Do
                    App</a>
        </div>
    </div>

    <div class="media">
            <div class="carousel-2"><img class="align-self-center mr-3" src="Screen Shot 2018-10-16 at 3.17.39 PM.png" height="300" width="400"/></div>
        <div class="media-body">
            <h5 class="mt-0">Center-aligned media</h5>
            <p>In this project, I built a small informational website containing a list of 30 "top places to see" in San Diego, which we will refer to as "Top Spots".</p>
            <p class="mb-0">Using React I created components to manage application state, also created a presentational component to render a single Top Spot, lastly rendered a collection of Top SpotsIn the containenr component.</p>
                <a class="btn btn-sm btn-primary" href="https://ir-san-diego-top-spots.herokuapp.com/" target="_blank">San
                    Diego Top Spots</a>
        </div>
    </div>

    <div class="media">
            <div class="carousel-3"><img class="align-self-center mr-3" src="Screen Shot 2018-10-16 at 3.21.35 PM.png" " height="300" width="400"/></div>
        <div class="media-body">
            <h5 class="mt-0">Center-aligned media</h5>
            <p>In this project, I built Change Calculator in React.</p>
            <p class="mb-0">I converted  visual wireframe to JSX markup, setup state management and event binding for the button elements.
                     I also did port calculation logic from jQuery and updated view state based on calculation results</p>
                <a class="btn btn-sm btn-primary" href="https://ir-change-calculator.herokuapp.com/" target="_blank">Change
                    Calculator</a>
            </div>
    </div>

   
<!-- Bootstrap CDN-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

</body>

</html>